.bordered {
    border: 3px inset red;
    height: 200px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}