.App {
  text-align: center;
}

.subjectsWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  border: 1px solid black;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
}

.subjects {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 28%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.classes {
  display: inline-block;
  position: absolute;
  top: 90px;
  left: 65%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
