.appDiv {
  display: flex;
  justify-content: center;
}

.mainDiv {
  height: 70vh;
  width: 70vw;
  border: 2px;
  border-radius: 2px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.volumeDiv{
  display: flex;
  justify-content: center;
}