.sidebar {
    padding: 12px 24px;
}

.sidebar-item {
    display: flex;
    align-items: center;
}

.sidebar-item-icon {
    margin-right: 8px;
}

.sidebar-item-icon img {
    width: 24px;
}

.sidebar-item-text {
    font-weight: bold;
}